<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Lato|Patua+One&display=swap" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"
        integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <link href="{{ url_for('static', filename='css/bootstrap.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ url_for('static', filename='css/custom.css') }}" rel="stylesheet" type="text/css">
    <script src="{{ url_for('static', filename='js/cookiebar.js') }}"></script>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    {% block header %}
    {% endblock header %}
    <title>{{ title }}</title>
</head>

<body onload=checkAgreement()>
        {% with messages = get_flashed_messages(with_categories=True) %}
        {% if messages %}
            {% for catagory, message in messages %}
                <div style = "position: absolute; width: 90vw; top: 4em; margin-left: 5vw;" class = "border border-{{ catagory }} rounded p-2 alert-{{ catagory }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <div style="min-height: 95vh">
        <nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-primary text-light" style="box-shadow: 0 1px 3px #ddd;">
            <a class="navbar-brand font-weight-bold  text-white ml-4" href="#">{{ app_name|safe }}</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav"
                aria-controls="basicExampleNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="basicExampleNav">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link my-1 mx-3" href="{{ url_for('site.index') }}">Home
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link my-1 mx-3" href="{{ url_for('site.photos') }}">Photos</a>
                    </li>
                </ul>
                <form class="form-inline">
                    <a class = "mr-4" href = "{{ url_for('site.contact') }}">
                    <button class="btn btn-secondary btn-block text-primary ml-3 px-3" style="border-radius: 2px;"
                        type="button">
                        Contact Us
                    </button>
                    </a>
                </form>
            </div>
        </nav>
            {% block main %}
            {% endblock main %}
        <div id="cookieBar">
            <div id="close_cookie" class="d-inline float-right pt-1 pr-3" style="font-size: 20px"
                onClick="closeCookieBar()">&#10005;</div>
            <p>
                By continuing to browse the site you are agreeing to our use of cookies.
                For more details about cookies see our <a class="text-white font-weight-bold"
                    href="{{ url_for('legal.cookiePolicy') }}"><u>cookie policy.</u></a>
            </p>
        </div>
    </div>
    <footer class="py-4 w-100 text-white">
        <div class="footer-grid">
            <div></div>
            <div class="widget no-box">
                <h5 class="widget-title">{{ app_name|safe }}<span></span></h5>
                <div class="header-accent">
                    <div class="top"></div>
                    <div class="bottom"></div>
                </div>
                <p class = "px-1">{{ app_name|safe }} is the most trusted HVAC company in the Antioch area.</p>
            </div>
            <div class="widget no-box">
                <h5 class="widget-title">Quick Links<span></span></h5>
                <div class="header-accent">
                    <div class="top"></div>
                    <div class="bottom"></div>
                </div>
                <ul class="list-unstyled text-primary">
                    <li><a href = "{{ url_for('site.index') }}">Home</a></li>
                    <li><a href = "{{ url_for('site.photos') }}">Photos</a></li>
                </ul>
            </div>
            <div></div>
            <div></div>
            <div class="widget no-box">
                <h5 class="widget-title">Get an appraisal today.<span></span></h5>
                <div class="header-accent">
                    <div class="top"></div>
                    <div class="bottom"></div>
                </div>
                <p class = "mr-3">Call during regular business hours, or click the contact link to schedule an appraisal.</p>
            </div>
            <div class="widget no-box">
                <h5 class="widget-title">Contact Us<span></span></h5>
                <div class="header-accent">
                    <div class="top"></div>
                    <div class="bottom"></div>
                </div>
                <p>
                    Got questions? Send an inquery.
                </p>
                <a href = "{{ url_for('site.contact') }}">
                    <button type="button" class="btn btn-primary" style="bottom: 0;">Contact</button>
                </a>
            </div>
        </div>
        <div></div>
    </footer>
</body>

</html>