{% extends 'base.html' %}
{% block header %}
{% endblock header %}
{% block main %}
<div class="mt-5 pt-5 px-2">
    <div class="text-center bg-light w-75 mx-auto p-2 m-5 border border-primary rounded" style="max-width: 500px;">
        <h3><small>Contact {{ app_name|safe }}</small></h3>
        <small>Any inqueries, questions, concerns, comments, can be placed here. if you'd prefer, you can make a call at
            <span class="text-dark">+1 (224) 727-8613.</span></small>
        <form class="p-3" method="POST">
            {{ form.hidden_tag() }}
            <div class="form-group row">
                <label class="col-2 col-form-label col-form-label">
                    Name:
                </label>
                <div class="col-sm-10">
                    {{ form.name(class = "form-control")}}
                </div>
                {% if form.name.errors %}
                <small class="text-danger">
                    {% for error in form.name.errors %}
                    <span>{{error}}</span>
                    {% endfor %}
                </small>
                {% endif %}
            </div>
            <div class="form-group row">
                <label class="col-2 col-form-label col-form-label">
                    Email:
                </label>
                <div class="col-sm-10">
                    {{ form.email(class = "form-control")}}
                </div>
                {% if form.email.errors %}
                <small class="text-danger">
                    {% for error in form.email.errors %}
                    <span>{{error}}</span>
                    {% endfor %}
                </small>
                {% endif %}
            </div>
            <div class="form-group row">
                <label class="col-2 col-form-label col-form-label">
                    Phone:
                </label>
                <div class="col-sm-10">
                    {{ form.phone(class = "form-control")}}
                </div>
                {% if form.phone.errors %}
                <small class="text-danger">
                    {% for error in form.name.errors %}
                    <span>{{error}}</span>
                    {% endfor %}
                </small>
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.body(rows = 3, class = "form-control") }}
                {% if form.body.errors %}
                <small class="text-danger">
                    {% for error in form.body.errors %}
                    <span>{{error}}</span>
                    {% endfor %}
                </small>
                {% endif %}
            </div>
            {{ form.submit(class = "btn btn-primary btn-block p-3 mb-2 text-light")}}
        </form>
    </div>
</div>
{% endblock %}