{% extends 'base.html' %}
{% block header %}
{% endblock header %}
{% block main %}
<div class = "mt-5 pt-5 px-2">
<div class = "mx-auto mb-5" style = "max-width: 500px;">
<h1 class = "text-center mb-5">Cookie Policy of {{ app_name }}</h1>
<div>
        <p>Cookies consist of portions of code installed in the browser that assist the Owner in providing the Service
                according to the purposes described. Some of the purposes for which Cookies are installed may also
                require the User's consent.
                Where the installation of Cookies is based on consent, such consent can be freely withdrawn at any time
                following the instructions provided in this document.</p>
        <h4 class = "mb-2">Other types of Cookies or third parties that install Cookies</h4>
        <p>
                Some of the services listed below collect statistics in an anonymized and aggregated form and may not
                require the consent of the User or may be managed directly by the Owner - depending on how they are
                described - without the help of third parties.

                If any third party operated services are listed among the tools below, these may be used to track Users’
                browsing habits – in addition to the information specified herein and without the Owner’s knowledge.
                Please refer to the privacy policy of the listed services for detailed information.
        </p>
        <h4 class = "mb-2">Advertising</h4>
        <p>
                This type of service allows User Data to be utilized for advertising communication purposes displayed in
                the form of banners and other advertisements on this Website, possibly based on User interests.
                This does not mean that all Personal Data are used for this purpose. Information and conditions of use
                are shown below.
                Some of the services listed below may use Cookies to identify Users or they may use the behavioral
                retargeting technique, i.e. displaying ads tailored to the User’s interests and behavior, including
                those detected outside this Website. For more information, please check the privacy policies of the
                relevant services.
        </p>
        <h4 class = "mb-2">Analytics</h4>
        <p>
                The services contained in this section enable the Owner to monitor and analyze web traffic and can be
                used to keep track of User behavior.

                Google Analytics (Google Inc.)
                Google Analytics is a web analysis service provided by Google Inc. (“Google”). Google utilizes the Data
                collected to track and examine the use of this Website, to prepare reports on its activities and share
                them with other Google services.
                Google may use the Data collected to contextualize and personalize the ads of its own advertising
                network.
                Personal Data collected: Cookies and Usage Data.

                Place of processing: United States – <a href="https://policies.google.com/privacy?hl=en">Privacy
                        Policy</a> – <a href="https://tools.google.com/dlpage/gaoptout?hl=en">Opt Out</a>. Privacy
                Shield participant.
        </p>
</div>
</div>
</div>
{% endblock main %}