{% extends 'base.html' %}
{% block header %}
<link href="{{ url_for('static', filename='css/index.css') }}" rel="stylesheet" type="text/css">
{% endblock header %}
{% block main %}
<div id="splash" class="text-center text-primary"
    style="background-image: url({{ url_for('static', filename='images/main-splash.png') }});">
    <div class="bg-light" id="contact-form">
        <div class="bg-primary m-2 p-2"></div>
        <h3 class=" d-5 p-2 "><small>CONTACT US</small></h3>
        <p>To contact us, either fill out the form, or call <span class="text-dark">+1 (224) 727-8613.</span></p>
        <form class="p-3" method="POST">
            {{ form.hidden_tag() }}
            <div class="form-group row">
                <label class="col-2 col-form-label col-form-label">
                    Name:
                </label>
                <div class="col-sm-10">
                    {{ form.name(class = "form-control")}}
                </div>
                {% if form.name.errors %}
                <small class="text-danger">
                    {% for error in form.name.errors %}
                    <span>{{error}}</span>
                    {% endfor %}
                </small>
                {% endif %}
            </div>
            <div class="form-group row">
                <label class="col-2 col-form-label col-form-label">
                    Email:
                </label>
                <div class="col-sm-10">
                    {{ form.email(class = "form-control")}}
                </div>
                {% if form.email.errors %}
                <small class="text-danger">
                    {% for error in form.email.errors %}
                    <span>{{error}}</span>
                    {% endfor %}
                </small>
                {% endif %}
            </div>
            <div class="form-group row">
                <label class="col-2 col-form-label col-form-label">
                    Phone:
                </label>
                <div class="col-sm-10">
                    {{ form.phone(class = "form-control")}}
                </div>
                {% if form.phone.errors %}
                <small class="text-danger">
                    {% for error in form.name.errors %}
                    <span>{{error}}</span>
                    {% endfor %}
                </small>
                {% endif %}
            </div>
            <div class = "form-group">
            {{ form.body(rows = 3, class = "form-control") }}
            {% if form.body.errors %}
                <small class="text-danger">
                    {% for error in form.body.errors %}
                    <span>{{error}}</span>
                    {% endfor %}
                </small>
                {% endif %}
            </div>
            {{ form.submit(class = "btn btn-primary btn-block p-3 mb-2 text-light")}}
        </form>
    </div>
    <div class="text-light text-center m-2" style="display: flex; align-items: center;">
        <div class="mx-auto">
            <h1>{{ app_name|safe }}</h1>
            <h3>Kenosha, Lake County and Cook County Area HVAC Certified Heating and Air Conditioning</h3>
        </div>
    </div>
</div>
<div class="bg-dark w-100 p-5 text-light">
    <div id="carouselExampleControls" class="carousel slide mx-auto" style = "max-width: 500px" data-ride="carousel">
        <ol class="carousel-indicators">
            {% for carousel in carousels %}
            <li data-target="#carouselExampleControls" data-slide-to="loop.index0" {% if loop.index0 == 0 %}class="active"{% endif %}></li>
            {% endfor %}
        </ol>
        <div class="carousel-inner">
            {% for carousel in carousels %}
            <div class="carousel-item {% if loop.index == 1 %}active{% endif %}">
                <img class="mx-auto d-block w-100" src="{{ url_for('static', filename='images/user-added-images/carousel/' + carousel.image_name) }}"
                    alt="First slide">
                <div class="carousel-caption d-none d-md-block">
                    <h5>{{ carousel.title }}</h5>
                    <p>{{ carousel.body }}</p>
                </div>
            </div>
            {% endfor %}
        </div>
        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>
<div class="text-center text-primary">
    <h2><small>Our HVAC services</small></h2>
    <div class="long-underline bg-primary"></div>
    <p class="mt-3">{{ app_name|safe }} does everything HVAC. You name it. Done on time and on budget. We are properly
        HVAC certified.</p>
    <div class="text-center" id="service-grid">
        <div>
            Heating
            <img class="d-block mx-auto mt-4"
                src="{{ url_for('static', filename='images/service-icons/heating.png') }}">
        </div>
        <div>
            Plumbing
            <img class="d-block mx-auto mt-4"
                src="{{ url_for('static', filename='images/service-icons/plumbing.png') }}">
        </div>
        <div>
            Air Conditioning
            <img class="d-block mx-auto mt-4"
                src="{{ url_for('static', filename='images/service-icons/air-condition.png') }}">
        </div>
        <div>
            Duct Work
            <img class="d-block mx-auto mt-4" src="{{ url_for('static', filename='images/service-icons/duct.png') }}">
        </div>
        <div>
            Water Heaters
            <img class="d-block mx-auto mt-4"
                src="{{ url_for('static', filename='images/service-icons/water-heater.png') }}">
        </div>
        <div>
            Heaters
            <img class="d-block mx-auto mt-4" src="{{ url_for('static', filename='images/service-icons/heater.png') }}">
        </div>
    </div>
</div>

{% endblock %}