{% extends 'base.html' %}
{% block header %}
<link href="{{ url_for('static', filename='css/photos.css') }}" rel="stylesheet" type="text/css">
{% endblock header %}
{% block main %}
<div class="mt-5 pt-5 px-2">
     <h1 class="text-primary text-center">Photos</h1>
    {% for photo in photos %}
    <div class="p-3">
        <div class="photo-card p-3 border border-primary bg-light">
            <img class="img-box rounded" src="{{ url_for('static', filename='images/user-added-images/photos/' + photo.image_name) }}">
            <div class="photo-card-description p-3">
                <h3>{{ photo.title }}</h3>
                <p class="d-inline">{{ photo.body }}</p>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}