{% extends 'base.html' %}
{% block header %}
{% endblock header %}
{% block main %}
<div class = "mt-5 pt-5">
        <div class="text-center bg-light w-75 mx-auto p-2 m-5 border border-primary rounded" style="max-width: 500px;">
            <h1>Contact Form Fills</h1>
            {% if not contacts %}
            <small>there are no contact form inputs.</small>
            {% endif %}
            {% for contact in contacts %}
            {% endfor %}
        </div>
</div>
{% endblock main %}