{% extends 'base.html' %}
{% block header %}
{% endblock header %}
{% block main %}
<div class = "mt-5 pt-5 px-2">
<div class="text-center">
    <h1>ADMIN LOGIN</h1>
    <form method = "POST">
        <label>Password</label>
        {{ form.hidden_tag() }}
        {{ form.password }}
        {{ form.submit }}
    </form>
</div>
</div>
{% endblock %}