{% extends 'base.html' %}
{% block header %}
{% endblock header %}
{% block main %}
<div class="mt-5 pt-5 px-2">
    <div class="text-center">
        <div class="text-center bg-light w-75 mx-auto p-2 m-5 border border-primary rounded" style="max-width: 500px;">
            <h1>Edit Photos</h1>
            <small>Images with duplicate names will NOT but submitted.</small>
            <form class="p-3" method="POST" enctype="multipart/form-data">
                {{ form.hidden_tag() }}
                <div class="form-group row">
                    <label class="col-2 col-form-label col-form-label">
                        Image:
                    </label>
                    <div class="col-sm-10">
                        {{ form.image(class = "form-control")}}
                    </div>
                    {% if form.image.errors %}
                    <small class="text-danger">
                        {% for error in form.name.errors %}
                        <span>{{error}}</span>
                        {% endfor %}
                    </small>
                    {% endif %}
                </div>
                <div class="form-group row">
                    <label class="col-2 col-form-label col-form-label">
                        Title:
                    </label>
                    <div class="col-sm-10">
                        {{ form.title(class = "form-control")}}
                    </div>
                    {% if form.title.errors %}
                    <small class="text-danger">
                        {% for error in form.title.errors %}
                        <span>{{error}}</span>
                        {% endfor %}
                    </small>
                    {% endif %}
                </div>
                <div class="form-group">
                    <label>description (Optional)</label>
                    {{ form.description(rows = 3, class = "form-control") }}
                    {% if form.description.errors %}
                    <small class="text-danger">
                        {% for error in form.description.errors %}
                        <span>{{error}}</span>
                        {% endfor %}
                    </small>
                    {% endif %}
                </div>
                {{ form.submit(class = "btn btn-primary btn-block p-3 mb-2 text-light")}}
            </form>
        </div>
        <div class="text-center bg-light w-75 mx-auto p-2 m-5 border border-primary rounded" style="max-width: 500px;">
            <h1>Remove slide from photos</h1>
            <small>Type the ID that you would like to remove. (i.e to remove id 1, type 1 in the box and submit.) id's
                are found above.</small>
            <form method="POST">
                {{ delete_form.hidden_tag() }}
                <div class="form-group row">
                    <label class="col-2 col-form-label col-form-label">
                        id to delete:
                    </label>
                    <div class="col-sm-10">
                        {{ delete_form.id_to_delete(class = "form-control")}}
                    </div>
                    {% if delete_form.id_to_delete.errors %}
                    <small class="text-danger">
                        {% for error in delete_form.id_to_delete.errors %}
                        <span>{{error}}</span>
                        {% endfor %}
                    </small>
                    {% endif %}
                </div>
                {{ delete_form.submit(class = "btn btn-primary btn-block p-3 mb-2 text-light")}}
            </form>
        </div>
        <div class="text-center bg-light w-75 mx-auto p-2 m-5 border border-primary rounded" style="max-width: 500px;">
            <h1>Current Carousel photos</h1>
            <ul class="text-left">
                {% for photo in photos %}
                <li>id: {{photo.id}}, title: {{ photo.title }}, image name: {{ photo.image_name }}</li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
{% endblock %}