{% extends 'base.html' %}
{% block header %}
{% endblock header %}
{% block main %}
<div class = "mt-5 pt-5">
    <ul>
        <li><a href = "{{ url_for('admin.carousel') }}">Edit Carousel</a></li>
        <li><a href = "{{ url_for('admin.photos') }}">Edit Photos</a></li>
    </ul>
</div>
{% endblock main %}