#splash{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    row-gap: 2em;
    column-gap: 1em;
    overflow: hidden;
    margin-top: 2em;
    padding: 5em;

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#service-grid{
    display: grid;
    font-weight: 700;
    font-size: 1.4em;
    text-align: left;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
}

#service-grid > div{
    padding: 2em;
}

#service-grid > div > img{
    width: 100px;
    height: 100px;
}

.carousel-img{
    max-width: 100%;
    max-height: 40vh;
}

.long-underline{
    margin-top: 1em;
    width: 80%;
    margin-left: 10%;
    height: 2px;
}


@media screen and (max-width: 900px) {
    #splash{
        width: auto;
        grid-template-columns: 1fr;
        padding: 2em;
    }

    #service-grid{
        grid-template-columns: 1fr;
    }

    #contact-form{
        order: 2;
    }
}
