.photo-card{
    width: 100%;
    grid-template-columns: 1fr 4fr;
    display: grid;
}


.photo-card img{
    max-height: 60vh;
    max-width: 60vw;
}

@media screen and (max-width: 900px) {
    .photo-card{
        grid-template-columns: 1fr;
    }

    .photo-card img{
        margin: auto;
    }
}