{% extends 'base.html' %}
{% block header %}
{% endblock header %}
{% block main %}
<div class = "mt-5 pt-5 px-2">
<div class="text-center">
    <h1>Oops! You're not supposed to be here.</h1>
    <h3>Error code 403</h3>
    <p>Click on a link in the topnav bar to go back.</p>
</div>
</div>
{% endblock %}