{% extends 'base.html' %}
{% block header %}
{% endblock header %}
{% block main %}
<div class = "mt-5 pt-5 px-2">
<div class="text-center">
    <h1>Oops! Something went wrong on our end.</h1>
    <h3>Error code 404</h3>
    <p>If you meant to do that, please fill out an inquery to report the bug.</p>
</div>
</div>
{% endblock %}